body {
    text-align: center;
    background-image: url("images/bg.jpg");
}

h1 {
color: #F2F7A1;
    font-size: 5rem;
    line-height: 2;
    font-family: 'Zen Dots', cursive;
    text-shadow: 5px 0 #E94560;

}

footer {
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: 600;
}

.set {
    margin: 10% auto;
}
/*  */
.drum {
    border: 10px solid #4C3575;
    font-size: 5rem;
    font-family: 'Zen Dots', cursive;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10%;
    line-height: 1.75;
    background-color: #FFFBEB;
    color: #251749;
    display: inline-block; 
    text-shadow: 3px 0 #DA0463;
}

.w{
    background-image: url("images/tom1.png");
}
.a{
    background-image: url("images/tom2.png");
}
.s{
    background-image: url("images/tom3.png");
}
.d{
    background-image: url("images/tom4.png");
}
.j{
    background-image: url("images/snare.png");
}
.k{
    background-image: url("images/crash.png");
}
.l{
    background-image: url("images/kick.png");
}

.pressed{
    box-shadow: 0 3px 4px 0 #F1D3B3;
    opacity: 0.5;
}
